*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body{
  color: white;
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

.container{
  margin: auto;
  width: 90%;
}

/*Navegacion*/

.nav-main{
  display: flex; /*Permite organizar los elementos*/
  font-size: 15px;
  justify-content: space-between; /*Permite utilizar todo el ancho disponible*/
  align-items: center;
  height: 60px;
  padding: 20px 0px;
}

.nav-img{
  width: 55px;
}

.nav-main ul{
  display: flex;
}

.nav-main ul li{
  padding: 65px;
}

.nav-main ul li a{
  padding: 5px;
}

.nav-main ul li a:hover{
  border-bottom: 3px solid black ;/*da estilo a los enlaces*/
}

.nav-main ul.nav-menu{
  flex: 1;
  margin-left: 20px;
}

.form-inline .form-control{
  display: flex;
  margin: 0px 0px 0px 0px;
}

/*show case*/

hr{
  margin: 10px 0px;
}

.showcase{
  margin-top: 5px;
  margin-bottom: 20px;
  width: 100%;  
  height: 610px;
  background-image: url(./imagenes/Car-ShowCase.jpg);
  background-size: cover;
  background-repeat: no-repeat; /*no se repetita la imagen*/
  background-position: center center  ; /*la posicion sera centrada*/
  padding-bottom: 50px;
  display: flex;
  flex-direction: column; /*el texto queda comodado*/
  align-items: center;
  justify-content: flex-end; /*la posicion del texto sera al final*/
  position: relative  ;
}

.showcase::before{ /*oscurece la imagen de fondo*/
  content:'';
	position: absolute;
  top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}

.showcase h2{
  color: white;
  position: relative;
}


.showcase P{
  padding: 0px 10px 0px 15px;
  color: white;
  position: relative;
  margin: 10px;
  font-size: 17px;
}


.showcase a i{
  color: white;
  position: relative;
}


.showcase a{
  color: white;
  position: relative;
}

.btn{
  cursor: pointer;
  border: 2.5px solid;
  padding: 10px 10px;
  margin-top: 5px;
  display: inline-block;
}

.btn:hover{ /* le da animacion al boton*/
  opacity: .5;
}


/* New Cards*/
.new-cards{
  display: grid;
  gap: 25px;
  margin: 10px 0px;
  grid-template-columns: 1fr 1fr 1fr 1fr; /*crea columnas*/
}

.new-cards img{
  width: 100%;
  height: 170px;
}

.new-cards h2{
  font-size: 20px;
  margin: 10px 0px;
}

.new-cards p{
  margin: 10px 0px;
}

.new-cards a{
  padding: 10px 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;/*tranforma el texto a mayusculas*/
  color: rgb(4, 123, 170);
  display: inline-block;
  font-weight: bold;
}

.new-cards a:hover{
  text-decoration:underline;
}

/*Cards Baner*/

.cards-baner-one{
  width: 100%;
  height: 360px;
  background: url(./imagenes/car5.jpg);
  margin-bottom: 40px;
  background-size: cover;
  background-repeat: no-repeat; /*no se repetita la imagen*/
  background-position: center center; /*la posicion sera centrada*/
  background-size: 1550px 480px;
}

.cards-baner-one .content{
  width: 100%;
  padding: 90px 10px 0 30px;
}

.cards-baner-one .btn{
  color: white;
  text-transform: uppercase;
}
